.footer{
    width: 100%;
    background-color: #000;
    color: #fff;

    .conteudo{
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
        padding: 4rem 5rem;
        display: flex;
        justify-content: space-between;

        .apresentacaoMarca{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .logoMarca{
                display: flex;
                justify-content:flex-start;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 1.5rem;
            }
        }

        p {
            font-size: 1.2rem;
        }

        .contato {
            width: 30%;
            padding-left: 1rem;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }

            ul {
                list-style: none;

                li {
                    display: flex;
                    font-size: 1.2rem;
                    margin-bottom: 0.8rem;
                    gap: 0.5rem;
                }
            }
        }

        .redesSociais {
            width: 30%;
            padding-left: 1rem;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                li {
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .footer{
        padding: 2rem 1rem;   
        .conteudo{
            padding: 2rem 0;
            flex-wrap: wrap;

            .apresentacaoMarca{
                width: 45%;
                justify-content: flex-start;

                .logoMarca{
                    margin-bottom: .5rem;

                    img{
                        width: 30px;
                        height: 30px;
                    }

                    h2{
                        font-size: .75rem;
                    }
                }

                p{
                    font-size: .75rem;
                }
            }

            .contato {
                width: 55%;

                h3{
                    font-size: .75rem;
                    margin-bottom: .5rem;
                    margin-top: 0.5rem;
                }

                p {
                    font-size: .6rem;
                }

            }

            .redesSociais {
                width: 50%;
                padding-left: 0;

                h3 {
                    font-size: 1rem;
                }

                ul {

                    li{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    
}