@use '../../assets/styles/mixins' as m;
@use '../../assets/styles/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 168px; 
  gap: 4px;

  .number {
    @extend %titulo-auxiliar; 
    color: #205691; 
    margin: 0;
  }

  .label {
    @extend %paragrafo-p; 
    color: #205691;
  }
}



