article {
    border: groove 5px;
    border-radius: 20px;
    width: 25vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    img {
        width: 8vw;
    }

    h2 {
        width: 95%;
    }

    p {
        overflow: scroll;
        width: 95%;
    }
}