$gradient-color-titles: linear-gradient(90deg, #1173D4 0%, #33CC73 100%);


@mixin titulo-base {
    font-family: Inter;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

@mixin texto-base {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
}

body{
    width: 100vw;

    header {
        height: 100vh;
        background-image: url('../images/bannerHeader.png') ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-image: linear-gradient(90deg, #4247A2 0%, #52B095 100%);;
            width: 86%;
            padding: 0px 15% 0px 3%;
            margin: 60px auto;
            border-radius: 30px;

            img {
                width: 25%;
                padding: 5px;
            }

            ul {
                list-style: none;
                display: flex;
                gap: 40px;

                li {
                    font-family: Roboto;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .header-box {
            width: 86%;
            margin: 0 auto;

            .text-header-box{
                width: 50%;
                margin-top: 70px;

                h1 {
                    @include titulo-base;
                    color: transparent;
                    background: $gradient-color-titles;
                    -webkit-background-clip: text;
                    background-clip: text;
                    margin-bottom: 15px;
                }

                p {
                    width: 70%;
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 100%;
                    color: #04031C;
                }
            }


            .buttons-header-box{
                display: flex;
                justify-content: space-between;
                width: 40%;
                margin-top: 50px;

                a {
                    text-decoration: none;
                    padding: 10px 30px ;
                    background-color: #1173D4;
                    border: 2px solid #1173D4;
                    border-radius: 10px;
                    font-family: Inter;
                    font-weight: 600;
                    font-size: 20px;
                    color: #FFFFFF;
                    cursor: pointer;
                    outline: none;
                    transition: box-shadow 0.3s ease-in-out;

                    &:hover {
                        background-color: #F9FAFB;
                        color: #1173D4;
                        box-shadow: 10px 10px 15px rgba(17, 115, 212, 1)
                    }
                }

                .about-more-button{
                    text-decoration: none;
                    padding: 10px 30px ;
                    background-color: #F9FAFB;
                    border: 2px solid #1173D4;
                    border-radius: 10px;
                    font-family: Inter;
                    font-weight: 600;
                    font-size: 20px;
                    color: #1173D4;
                    cursor: pointer;
                    outline: none;
                    transition: box-shadow 0.3s ease-in-out;


                    &:hover {
                        box-shadow: 10px 10px 15px rgba(17, 115, 212, 1)
                    }
                }
            }
        }
    }

    main {
        width: 100vw;

        section{
            text-align: center;
            padding:50px 16% 60px 16% ;
        }

        .exames-de-rotina {
            width: 100%;
            margin: 0 auto;
            background-color: #F8F9FA;

            h2 {
                @include titulo-base;
                color: transparent;
                background: $gradient-color-titles;
                -webkit-background-clip: text;
                background-clip: text;
                margin-bottom: 15px;
            }

            p {
                @include texto-base;
                color: #04031C;
                margin-bottom: 40px;
            }

            .check-ups-cards{
                width: 100%;
                display: flex;
                justify-content: space-between;

                .card{
                    width: 30%;
                    min-height: 200px;
                    height: 100%;
                    padding: 14px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    background-color: #F9FAFB;
                    border: 2px solid #00000040;
                    box-shadow: 0px 0px 10px 2px #00000040;
                    border-radius: 10px;

                    img{
                        width: 20%;
                    }

                    h3 {
                        font-family: Inter;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 100%;
                        text-align: center;
                        color: #04031C;
                    }

                    .card-text {
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 100%;
                        text-align: center;
                        margin-bottom: 0;
                        color: #04031C;
                    }
                }
            }
        }

    }
}

