@use '../styles/variables' as v;

@mixin font-style($family, $size, $weight) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

// Implementação específica baseada na sua imagem
%titulo { @include font-style(v.$font-primary, v.$size-xl, v.$weight-bold); }
%titulo-auxiliar { @include font-style(v.$font-primary, v.$size-lg, v.$weight-bold); }
%cards { @include font-style(v.$font-primary, v.$size-md, v.$weight-bold); }
%botao { @include font-style(v.$font-primary, v.$size-base, v.$weight-semibold); }
%texto-geral { @include font-style(v.$font-secondary, v.$size-base, v.$weight-regular); }
%paragrafo-p { @include font-style(v.$font-secondary, v.$size-sm, v.$weight-regular); }