.header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #000;

    img {
        width: 60px;
    }

    ul {
        max-width: 600px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        li {
            color: #fff;
            cursor: pointer;

            &:hover {
                color: yellow;
            }
        }
    }


}