@use '../../assets/styles/variables' as v;
@use '../../assets/styles/mixins' as m;

.home{
    width: 100vw;
    display: flex;

    .contentContainer{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 0 2rem 8rem;
        gap: 1.5rem;

        .titleHome{
            @extend %titulo;
            color: #205691;
        }

        .description{
            @extend %paragrafo-p;
            width: 85%;
        }

        .statsContainer{
            display: flex;

        }

    }

    .imageContainer{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .heroImage{
            width: 80%;
        }
    }
}

@media (max-width: 600px) {
    .home{
        flex-direction: column;

        .contentContainer{
            width: 100%;
            align-items: center;
            padding: 2rem;
            text-align: center;

            .titleHome{
                width: 90%;
            }

            .statsContainer{
                width: 100%;
                justify-content: center;
                gap: 2rem;
            }
        }

        .imageContainer{
            width: 100%;
            margin-top: 2rem;

            .heroImage{
                width: 90%;
            }
        }
    }
}