.footer{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 86, 145, 0.1);

    .textFooter {
        font-family: "Source Sans 3", sans-serif;
        font-size: 1rem;
    }
}

