h1 {
    text-decoration: underline;
}

input {
    display: block;
    margin-top: 16px;
}

#caixa {
    width: 120px;
    height: 120px;
    margin-top: 16px;
    cursor: pointer;
    background-color: lightgray;
}